.movies {
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

@media all and (max-width: 900px) {
  .movies {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (max-width: 639px) {
  .movies {
    padding-left: 10px;
    padding-right: 10px;
  }
}
