.header {
  height: 74px;
  display: flex;
}

.header-violet {
  background: #465dff;
}

.header__logo {
  margin-top: 18px;
}

.header__menu {
  display: flex;
}

.header__menu-violet {
  margin-left: auto;
}

.header__menu-white {
  margin-left: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
