.nav-tab {
  height: 66px;
  background: #f5f5f5;
  overflow: auto;
}

.nav-tab__list {
  max-width: 276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  padding: 0;
}

@media all and (max-width: 320px) {
  .nav-tab__list {
    max-width: 214px;
    padding: 0;
  }
}

.nav-tab__list-item {
  color: black;
  border-bottom: 1.5px solid black;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}

@media all and (max-width: 320px) {
  .nav-tab__list-item {
    font-size: 11px;
    line-height: 16px;
  }
}

.nav-tab__list {
  list-style-type: none;
}
